/*---------------------------------
RESETS 
------------------------------------------*/

* { 
    margin: 0; 
    padding: 0; 
}

a  { 
	text-decoration: none; 
	outline: 0; 
}

a img { border: 0; }

.stretch,.clear {
	clear: both;
	height: 1px;
	margin: 0;
	padding: 0;
	font-size: 15px;
	line-height: 1px;
}

.clearfix:after {
	clear: both;
	height: 0;
	display: block;
	visibility: hidden;
	content: ".";
}

p { line-height: 1.5; margin: 0 0 15px 0; }

#simple-msg{
	text-align: center;
}
/*-------------------------------------
GLOBAL
------------------------------------------*/

html, body { 
	margin: 0;
    padding: 0;
 	/*background-color: #f9f9f9;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

/*-------------------------------------
HEADINGS
------------------------------------------*/

h1 {
	margin: 0 0 0.5em 0;
	padding: 0;	
	line-height: 1.5em;	
	font-size: 14px;
	color: #000000;
}

h2 {
	margin: 0 0 0.5em 0;
	padding: 0;	
	line-height: 1.5em;	
	font-size: 12px;
	color: #000000;
}

/*-------------------------------------
LINKS
------------------------------------------

a:link { color: #06C; text-decoration: underline; }
a:visited { color: #06C; text-decoration: underline; }
a:hover { color: #06C; text-decoration: underline; }
a:active { color: #06C; text-decoration: underline; }*/


/*-------------------------------------
LISTS
------------------------------------------*/

ul {
	margin: 0 0 15px 0;
	padding: 0;
	line-height: 14px;
}

ul li {
	margin: 0 0 3px 15px;
	padding: 0;
}

label.error { 
	display: block;
	color: red;                              
	font-size: 11px; 
	font-weight: bold;
}

#logo{
	margin: 20px auto auto;
    width: 262px;
}
#logo img{
display: none;
}

/*-------------------------------------
FORM CORE
------------------------------------------*/

form#contact{
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCC;
	margin: auto;
	padding: 10px;
	width: 278px;
	border-radius: 5px;
}

form#contact fieldset {
	padding: 10px 20px 20px 20px;
	margin: 0 auto;
	border: 0;
	background-color: #fff;
	width: 290px;
	text-align: left;
	border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -moz-box-shadow: 0px 0px 10px #d3d3d3; 
	-webkit-box-shadow: 0px 2px 10px #d3d3d3; 
	box-shadow: 0px 0px 10px #d3d3d3; 
}

form#contact input[type="text"], input[type="url"], input[type="number"],
input[type="email"], input[type="tel"], textarea {
	margin: 3px 0 0 0;
	padding: 6px; 
	width: 260px; 
	font-family: arial, sans-serif; 
	font-size: 12px; 
	border: 1px solid #ccc;
    background: -webkit-gradient(linear, left top, left 15, from(#FFFFFF), color-stop(4%, #f4f4f4), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #f4f4f4 1px, #FFFFFF 15px);
}

form#contact select {
	margin: 3px 0 0 0;
	padding: 6px; 
	width: 273px; 
	font-family: arial, sans-serif; 
	font-size: 12px; 
	border: 1px solid #ccc;
    background: -webkit-gradient(linear, left top, left 15, from(#FFFFFF), color-stop(4%, #f4f4f4), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #f4f4f4 1px, #FFFFFF 15px);
}

form#contact textarea {
	width: 275px; 
	height: 150px;
}

form#contact label {
	display: block;
	font-size: 13px;
	color: #666;
	margin-top: 10px;
	font-weight: bold;
	text-align: left;
}

form#contact label.error { 
	width: 270px;
	margin: 3px 0 0 0;
	display: block;
	color: #cf0101;                              
	font-size: 11px; 
	text-align: right;
}

form#contact .placeholder {
	color: #aaa;
}

form#contact2{
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCC;
	margin: auto;
	padding: 10px;
	width: 561px;
	border-radius: 5px;
}

form#contact2 fieldset {
	padding: 10px 20px 20px 20px;
	margin: 0 auto;
	border: 0;
	background-color: #fff;
	width: 290px;
	text-align: left;
	border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -moz-box-shadow: 0px 0px 10px #d3d3d3; 
	-webkit-box-shadow: 0px 2px 10px #d3d3d3; 
	box-shadow: 0px 0px 10px #d3d3d3; 
}

form#contact2 input[type="text"], input[type="url"], input[type="number"],
input[type="email"], input[type="tel"], textarea, input[type="password"] {
	margin: 3px 0 0 0;
	padding: 6px; 
	width: 260px; 
	font-family: arial, sans-serif; 
	font-size: 12px; 
	border: 1px solid #ccc;
    background: -webkit-gradient(linear, left top, left 15, from(#FFFFFF), color-stop(4%, #f4f4f4), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #f4f4f4 1px, #FFFFFF 15px);
}

form#contact2 select {
	margin: 3px 0 0 0;
	padding: 6px; 
	width: 273px; 
	font-family: arial, sans-serif; 
	font-size: 12px; 
	border: 1px solid #ccc;
    background: -webkit-gradient(linear, left top, left 15, from(#FFFFFF), color-stop(4%, #f4f4f4), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #f4f4f4 1px, #FFFFFF 15px);
}

form#contact2 textarea {
	width: 275px; 
	height: 150px;
}

form#contact2 label {
	display: block;
	font-size: 13px;
	color: #666;
	font-weight: bold;
	text-align: left;
}

form#contact2 label.error { 
	width: 270px;
	margin: 3px 0 0 0;
	display: block;
	color: #cf0101;                              
	font-size: 11px; 
	text-align: right;
}

form#contact2 .placeholder {
	color: #aaa;
}

.myButton {
	background: #c00c13;
    background-image: linear-gradient(to top, #c00c13 48%, #d72128 51%);
    border: medium none;
    border-radius: 4px;
    box-shadow: 0 1px 2px 3px rgba(0, 0, 0, 0.25);
    color: #fff;
    display: inline-block;
    font-size: 23px;
    margin: 14px 0 0 148px;
    padding: 7px 16px;
    text-transform: uppercase;
}

.myButton:hover, .myButton:active {
	cursor: pointer;
}

 .success {
	border: 1px solid;
	margin: 0 auto;
	padding:10px 60px;
	background-repeat: no-repeat;
	background-position: 10px center;
	text-align: left;
	width: 492px;
	color: #4F8A10;
	background-color: #DFF2BF;
	font-size: 135%;
}

 .errormsgbox {
	border: 1px solid;
	margin: 0 auto;
	padding:10px 60px;
	background-repeat: no-repeat;
	background-position: 10px center;
	width:450px;
	color: #D8000C;
	background-color: #FFBABA;
	font-size: 130%;
}
.require{
	color:red;
}
input.disable{
	background: #fff !important;
	border: none !important;
	width:100% !important;
	font-weight: bold;
}

/***********************/

/*:invalid {
 	box-shadow: none; 
    outline: 0;    
}
 :valid {
    border: 1px solid rgba(0, 0, 0, 0.25);
}*/

.invalid input:required:invalid {
    background: #BE4C54;
}

.invalid input:required:valid {
    background: #17D654 ;
}

input {
  display: block;
  margin-bottom: 10px;
}

input:invalid:focus {
 outline: 2px solid rgba(200, 76, 76, 0.89);
}

.invalid input:required:invalid {
 outline: 2px solid rgba(200, 76, 76, 0.89);
}
